@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

:root {
  --color-white: #ffffff;
  --color-cobalt: #1878E0;
  --color-cerulean: #0099D7;
  --color-grayfog: #EBEFF6;
  --color-graydove: #C5D6E6;
  --color-graymidnight: #324350;
  --color-grayshadow50: #416581;
  --color-graysteel: #5F83A5;
  --color-grayblue: #EAF0F7;
  --color-grayalt: #F8F9FA
}
.App {
  background-color: #ffffff;
}

.App-header {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid var(--color-grayblue);
  text-align: left;
}

.container {
  width: 75%;
}
.container-outter{
  display: flex;
  justify-content: left;
}
input {
height: 2em;
background: #FFFFFF;
box-shadow: 0px 5px 14px rgba(44, 67, 81, 0.13), 0px 0px 4px rgba(44, 67, 81, 0.02);
border-radius: 2px;
margin: 1.5em 0;
border-width: 0;
}
label {
  font-size: 1.2em;
  color: #324350;
}
.form-container {
  width: 75%;
  margin-left: 25%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2em;
  max-width: 50%;
}

button {
background: #0099D7;
color: #ffffff;
border-radius: 5px;
padding: 1em;
font-family: 'Lato', sans-serif;
font-size: 1em;
border-width: 0;
width: 25%;
}


/* navbar styles */
.navbar {
  width: 215px;
  background-color: var(--color-grayalt);
  height: 100vh;
  border-right: 2px solid var(--color-grayblue);
  font-size: 14px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  padding: 16px;
  cursor: pointer;
  font-weight: 300;
}

.navbar li:active, .navbar li:hover {
  background-color: var(--color-grayfog);
  font-weight: 400;
}

.navbar li a {
  text-decoration: none;
  color: var(--color-grayshadow50);
  display: flex;
  align-items: center;
}

.navbar li a img {
  margin-right: 8px;
}
